
    <div class="card-content">
        <div class="card-img">
            <img src="https://placeimg.com/380/230/nature"	alt="">
            <span><h4>{{position}}</h4></span>
        </div>
        <div class="card-desc">
            <h3>{{destino.nombre}}</h3>
            <p>servicios</p>
            <ul>
              <li *ngFor="let servicio of destino.servicios">
                <span [ngSwitch]="servicio">
                <i *ngSwitchCase="'desayuno'" style="color: purple;">{{servicio}} </i>
                {{servicio}}
                </span>
              </li>
            </ul>
            <a href="#"	class="btn-card" (click)="ir()">ir!</a>
          <span *ngIf="destino.isSelected()">
          <span ngNonBindable>{{PREFERIDO}}</span>
          </span>


        </div>
    </div>

