<div class="container content">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <span class="anchor"	id="formLogin"></span>

            <div class="card card-outline-secondary">
                <div class="card-header">
                    <h3	class="mb-0">Whishlist</h3>
                </div>

                <div class="card-body">

                    <form>
                        <div class="form-group">
                            <label	for="nombre">Nombre</label>
                            <input	type="text"	class="form-control" id="nombre" placeholder="Ingresar nombre..." #nombre>
                        </div>

                        <div class="form-group">
                            <label	for="imagenurl">Imagen	Url</label>
                            <input	type="text"	class="form-control"	id="imagenurl"	placeholder="Ingresar	url... " #url>

                        </div>
                        <p class="font-weight-bold">este es el texto: {{ nombre.value }}</p>
                        <button	type="button" class="btn btn-info" (click)="guardar(nombre.value, url.value)">Guardar!</button>
                    </form>

                </div>
            </div>
        </div>
    </div>
    <hr	class="mb-5">
    <div	class="row row-flex">

        <app-destino-viaje  *ngFor="let destino of destinos; let i=index"
        [destino]="destino"
        [idx]="i+1"
        (clicked)="elegido($event)"
        ></app-destino-viaje>
    </div>
</div>
